%br/
%br/

Feel free to email me at 
= link_to 'hey@paperboy.digital', 'mailto:hey@paperboy.digital'
%br/
= link_to 'unsubscribe', unsubscription_url(token: @subscription.unsub_token), data: {confirm: 'Are you sure you want to unsubscribe?'}
